@charset "UTF-8";

:root {
  --fundo-principal: #f5f5f5;
  --texto: #222;
  --texto-inverso: #fff;
  --destaque: #0077ff;
  --destaque-inverso: #8ac7f9;
  --fundo-card: #fff;
}

/* CONFIGURAÇÕES GERAIS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--texto);
}

html, body {
  background-color: var(--fundo-principal);
  font: normal 1rem Verdana, Tahoma, sans-serif;
  line-height: 1.5rem;
}

/* CABEÇALHO */

header {
  background-color: var(--destaque);
  padding: 10px;
  
  display: flex;
  justify-content: flex-end;
}

nav#menu ul {
  list-style: none;

  display: flex;
  gap: 10px;
}

nav#menu a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;

  transition: all 0.2s linear;
}

nav#menu a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

/* ÁREA PRINCIPAL */

main {
  margin-top: 1.25rem;

  display: grid;
  grid-template: repeat(2, 1fr) / 1fr 90% 1fr;
}

main section#card {
  background-color: var(--fundo-card);
  padding: 1.5rem;
  border-radius: 10px;
  text-align: justify;

  grid-column: 2;
}

section#card img#perfil {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 200px;
  border-radius: 50%;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  display: block;
  margin: auto;
}

section#card h1 {
  color: var(--destaque);
  text-align: center;
  margin: 1.5rem 0;
}

section#card div#social {
  padding: 1rem 0;
  font-size: 1.8 rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

div#social a > i {
  color: var(--destaque);

  transition: all 0.2s linear;
}

div#social a:hover > i {
  color: var(--destaque-inverso);
}


/* RODAPÉ */

footer {

}