@charset "UTF-8";

:root {
  --fundo-principal: #f5f5f5;
  --texto: #222;
  --texto-inverso: #fff;
  --destaque: #0077ff;
  --destaque-inverso: #8ac7f9;
  --fundo-card: #fff;
}

/* CONFIGURAÇÕES GERAIS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--texto);
}

html, body {
  background-color: var(--fundo-principal);
  font: normal 1rem Verdana, Tahoma, sans-serif;
  line-height: 1.5rem;
}

/* CABEÇALHO */

header {
  background-color: var(--destaque);
  padding: 1rem;
  
  display: flex;
  justify-content: flex-end;
}

nav#menu ul {
  list-style: none;
  font-size: 1.2rem;

  display: flex;
  gap: 10px;
}

nav#menu a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;

  transition: all 0.2s linear;
}

nav#menu a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

/* ÁREA PRINCIPAL */

main {
  margin-top: 1.25rem;

  display: grid;
  grid-template: repeat(2, auto) / 1fr 90% 1fr;
}

/* CARD DE APRESENTAÇÃO */

main .area {
  background-color: var(--fundo-card);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1.2rem;
  text-align: center;
}

main section#card {
  grid-column: 2;
}

section#card p {
   text-align: justify;
}

section#card img#perfil {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 200px;
  border-radius: 50%;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  display: block;
  margin: 0.7rem auto;
}

section#card h1 {
  color: var(--destaque);
  margin: 1.5rem 0;
}

section#card div#social {
  padding: 1rem 0;
  font-size: 1.8rem;
  margin-top: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

div#social a > i {
  color: var(--destaque);

  transition: all 0.2s linear;
}

div#social a:hover > i {
  color: var(--destaque-inverso);
}

/* SEÇÃO DE DETALHES */

section#details {
  grid-column: 2;
}

article h2, h2 > i {
  color: var(--destaque);
}

article div#video-container {
  background-color: var(--fundo-principal);
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 0.5rem;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
}

article div.skill-container {
  margin: 1.2rem 0;

  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
}

div.skill-item div.info {
  padding: 0.6rem;
  border-radius: 0.4rem 0.4rem 0 0;
  font-weight: 700;
  background-color: var(--destaque-inverso);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.info i {
  font-size: 1.2rem;
  margin-right: 0.3rem;
}

div.skill-item div.bar {
  height: 1.5rem;
  padding: 5px;
  border: 5px solid var(--destaque-inverso);
  border-radius: 0 0 0.4rem 0.4rem;
}

div.bar div.progress {
  background-color: var(--destaque);
  height: 100%;
  border-radius: 1.5rem;
}

/* RODAPÉ */

footer {

}