@charset "UTF-8";

:root {
  --fundo-principal: #f5f5f5;
  --texto: #222;
  --texto-inverso: #fff;
  --destaque: #0077ff;
  --destaque-inverso: #8ac7f9;
  --fundo-card: #fff;
}

/* CONFIGURAÇÕES GERAIS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: var(--fundo-principal);
  font: normal 1rem Verdana, Tahoma, sans-serif;
  line-height: 1.5rem;
  text-align: center;
}

body a {
    text-decoration: none;
    color: var(--texto);
    transition: all 0.2s linear;
}

/* CABEÇALHO */

header {
  background-color: var(--destaque);
  padding: 1rem;
  
  display: flex;
  justify-content: flex-end;
}

nav#menu ul {
  list-style: none;
  font-size: 1.3em;

  display: flex;
  gap: 1em;
}

nav#menu a {
  padding: 0.4em 0.5em;
  border-radius: 5px;
}

nav#menu a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

/* ÁREA PRINCIPAL */

main {
  padding: 1rem;

  display: grid;
  grid-template: repeat(2, auto) / 1fr 90% 1fr;
  gap: 2rem;
}

h1, h2, h3, main i {
  color: var(--destaque);
}

main .central {
  grid-column: 2;
}

main .area {
  background-color: var(--fundo-card);
  padding: 1rem;
  border-radius: 10px;

  display: grid;
  grid-template: repeat(2, auto) / 1fr;
  gap: 1.5em;
}

main .contain {
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

  /* CARD DE APRESENTAÇÃO */

img#perfil {
  aspect-ratio: 1 / 1;
  width: 200px;
  border-radius: 50%;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  margin: auto;
}

article#about p {
   text-align: justify;
}

div#social {
  width: 100%;
  font-size: 1.8em;
  border-top: 2px solid var(--texto);
  padding-top: 0.8em;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2em;
}

div#social i {
    color: var(--texto);
    transition: all 0.2s linear;
}

div#social a:hover i{
  color: var(--destaque-inverso);
}

  /* SEÇÃO DE DETALHES */

main section#details {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
}

    /* VÍDEO DE APRESENTAÇÃO */

div#video-container {
  background-color: var(--fundo-principal);
  aspect-ratio: 16/9;
  border-radius: 0.5rem;
  font-weight: 600;
}

div#video-container i {
  color: var(--texto);
}

    /* ÁREA DE HABILIDADES */
 
div.skill-item {
  padding: 0.6rem;
  border-radius: 0.4rem;
  font-weight: 600;
  background-color: var(--destaque-inverso);
  width: 100%;

  display: grid;
  grid-template: 1fr 1fr / auto auto;
  justify-content: space-between;
}

div.skill-item i {
  font-size: 1.3rem;
  margin-right: 0.2em ;
}

div.bar {
  height: 1.5rem;
  padding: 5px;
  border: 5px solid var(--destaque-inverso);
  border-radius: 0.4rem;
  background-color: var(--fundo-card);

  grid-column: 1 / -1;
}

div.progress {
  background-color: var(--destaque);
  height: 100%;
  border-radius: 1.5rem;
}

    /* ÁREA DE FORMAÇÃO */

div.study {
  position: relative;

  width: 100%;
  overflow: hidden;
  border: 3px solid var(--destaque);
  border-radius: 0.5em;
  text-align: end;
  padding: 0 2em;
}

div.study span {
  font-size: 0.8em;
  font-weight: 600;
}

.study:hover .overlay {
  width: 30%;
  opacity: 1;
}

div.overlay {
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0.9;
  background-color: var(--destaque);
  height: 100%;
  width: 100%;
  font-size: 2.2em;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.5s ease;
}

div.overlay i {
  color: var(--texto-inverso);
}

/* RODAPÉ */

footer {
  background-color: var(--texto);
  color: var(--texto-inverso);
  font-size: 0.8em;
  padding: 0.5em;
}

footer a {
  text-decoration: underline;
  color: var(--texto-inverso);
}