@charset "UTF-8";

:root {
  --fundo-principal: #f5f5f5;
  --texto: #222;
  --texto-inverso: #fff;
  --destaque: #0077ff;
  --destaque-inverso: #8ac7f9;
  --fundo-card: #fff;
}

/* CONFIGURAÇÕES GERAIS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: var(--fundo-principal);
  font: normal 1rem Verdana, Tahoma, sans-serif;
  line-height: 1.5rem;
}

