@charset "UTF-8";

:root {
  --fundo-principal: #f5f5f5;
  --texto: #222;
  --texto-inverso: #fff;
  --destaque: #0077ff;
  --destaque-inverso: #8ac7f9;
  --fundo-card: fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--texto);
}

html, body {
  background-color: var(--fundo-principal);
  font: normal 1rem Verdana, Tahoma, sans-serif;
  line-height: 1.5rem;
}

header {
  background-color: var(--destaque);
  padding: 10px;
  
  display: flex;
  justify-content: flex-end;
}

nav#menu ul {
  list-style: none;

  display: flex;
  gap: 10px;
}

nav#menu a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;

  transition: all 0.2s linear;
}

nav#menu a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

main {

}

footer {

}