@charset "UTF-8";

:root {
  --fundo-principal: #f5f5f5;
  --texto: #222;
  --texto-inverso: #fff;
  --destaque: #0077ff;
  --destaque-inverso: #8ac7f9;
  --fundo-card: #fff;
}

/* CONFIGURAÇÕES GERAIS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: var(--fundo-principal);
  font: normal 1rem Verdana, Tahoma, sans-serif;
  line-height: 1.5rem;
  text-align: center;
}

body a {
    text-decoration: none;
    color: var(--texto);
    transition: all 0.2s linear;
}

/* CABEÇALHO */

header {
  background-color: var(--destaque);
  padding: 1rem;
  
  display: flex;
  justify-content: flex-end;
}

nav#menu ul {
  list-style: none;
  font-size: 1.3em;

  display: flex;
  gap: 1em;
}

nav#menu a {
  padding: 0.4em 0.5em;
  border-radius: 5px;
}

nav#menu a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

/* ÁREA PRINCIPAL */

main {
  padding: 1rem;

  display: grid;
  grid-template: repeat(2, auto) / 1fr 90% 1fr;
  gap: 2rem;
}

h1, h2, h3, main i {
  color: var(--destaque);
}

main .central {
  grid-column: 2;
}

main .area {
  background-color: var(--fundo-card);
  padding: 1rem;
  border-radius: 10px;

  display: grid;
  grid-template: repeat(2, auto) / 1fr;
  gap: 1.5em;
  justify-items: center;
}

  /* CARD DE APRESENTAÇÃO */

article#about img#perfil {
  aspect-ratio: 1 / 1;
  width: 200px;
  border-radius: 50%;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
}

article#about p {
   text-align: justify;
}

article#about div#social {
  width: 100%;
  font-size: 1.8em;
  border-top: 2px solid var(--texto);
  padding-top: 0.5em;

  display: flex;
  justify-content: center;
  gap: 2em;
}

div#social i {
    color: var(--texto);
    transition: all 0.2s linear;
}

div#social a:hover i{
  color: var(--destaque-inverso);
}

  /* SEÇÃO DE DETALHES */

main section#details {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
}

    /* VÍDEO DE APRESENTAÇÃO */

article#video div#video-container {
  background-color: var(--fundo-principal);
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 0.5rem;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
}

div#video-container i {
  color: var(--texto);
}

    /* ÁREA DE HABILIDADES 

article#skills div.skill-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
}

div.skill-item div.info {
  padding: 0.6rem;
  border-radius: 0.4rem 0.4rem 0 0;
  font-weight: 700;
  background-color: var(--destaque-inverso);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.info i {
  font-size: 1.2rem;
  margin-right: 0.3rem;
}

div.skill-item div.bar {
  height: 1.5rem;
  padding: 5px;
  border: 5px solid var(--destaque-inverso);
  border-radius: 0 0 0.4rem 0.4rem;
}

div.bar div.progress {
  background-color: var(--destaque);
  height: 100%;
  border-radius: 1.5rem;
}

    /* ÁREA DE FORMAÇÃO 

article#training {

}


/* RODAPÉ 

footer {

} 

*/