@charset "UTF-8";

@media (width >= 768px) {
    #skill-conteiner {
        grid-template-columns: 1fr 1fr;
    }

    .projeto {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .projeto-imagem {
        aspect-ratio: 1/1;
        height: 100%;
    }

    .projeto-info {
        max-width: 60%;
    }
}