@charset "UTF-8";

@media (width >= 768px) {
    #skill-conteiner {
    grid-template-columns: repeat(2, 1fr);
    }
}

@media (width >= 920px) {
    main {
        grid-template-columns: auto 1fr 2fr auto;
    }

    section#ficha {
        grid-column: 2;
        height: fit-content;
        position: sticky;
        top: 4rem;
    }

    section#detalhes {
        grid-column: 3;
    }

    .projeto {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .projeto-imagem {
        aspect-ratio: 1/1;
        height: 100%;
    }

    .projeto-info {
        max-width: 60%;
    }
}